* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0); /* Transparente */
    color: #ffffff;
}

.modules-left {
    margin-left: 10px;
}
.modules-center{
    margin-top: 5px;     /* Distancia desde arriba */
    margin-bottom: 2px;
    padding: 2px 8px;    /* Padding vertical bajo para que sea fina */
}
.modules-right {
    margin-right: 10px;
}

#window,
#workspaces,
#clock,
#network,
#cpu,
#memory,
#disk,
#temperature,
#battery,
#bluetooth
#tray {
    padding: 0 10px;
    color: #ffffff;
    background-color: #313244; /* Color de fondo de la cápsula */
    border-radius: 20px;       /* Bordes redondeados */
    margin: 4px 2px;           /* Separación entre módulos */
}
