@import url("/home/god/dotfiles/waybar/themes/frappe.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;  /*cambiar a tema catppuccin*/
}

.modules-left,
.modules-right,
.modules-center{
}

#window,
#workspaces,
#clock,
#network,
#pulseaudio,
#battery,
#backlight,
#cpu,
#memory,
#bluetooth,
#custom-power {
    padding: 0 10px;
    background-color: @mauve; /* Color de fondo de la cápsula */
    border-radius: 20px;       /* Bordes redondeados */
}
